*{
  margin:0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;

}
/* Light theme (default) */
:root {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --bg_body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
}

/* Dark theme */
.dark-theme {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #1A1A1A;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #EDEDED;
  --heart-color: #DC143C;
}


@media (prefers-color-scheme: dark) {
  :root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
    --heart-color: #DC143C;
  }
}

/*header styles*/
h1{
  font-size: 12px;
  color:var(--brand-primary);
  
}
.ionicon{
  vertical-align: text-bottom;
}
.btn-container{
  font-size: 15px;
  display: flex;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 3px;;
  border:1px solid var(--lines-color);
  border-radius: 2px;
  align-items: center;
  justify-content:space-evenly;

}
.moon-icon{
  padding-right:6px;
}
.heart-top-icon{
  padding-right:6px;
}
.web-topics{
  font-weight: bold;
  font-size: 25px;
}
header{
  padding: 8px 20px;
  border-bottom:1px solid rgb(200, 193, 193);
}

/*main content*/
.triangles{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 100vw solid var(--brand-secondary);
	border-bottom: 80px solid transparent;
  opacity:0.9;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 100vw solid var(--brand-primary);
	border-bottom: 80px solid transparent;
  opacity:0.9;
}

.intro{
  display: grid;
  text-align: center;
  margin:0;
  
}
h2{
  font-size: 20px;
  color: var(--brand-secondary);
  padding-right:176px;
  font-weight:bold;
}

.main-content{
  
  min-height: calc(100vh - 62px);
}
.main-container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
:root{
  --content-max-width:1900px;
}
.main{
  background-color:var(--bg_body);
  max-width:var(--content-max-width);
  margin:0 auto;
  
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
  border-width:thin;
  
  height:60px;
  padding: 10px;
  
}

.search-input{
  
  font-size: 11px;
  color: var(--body-text);
  outline: none;
  border: none;
  background: transparent;
  margin-left: 10px;
  width:100%;
 
  
  
}
.input{
  margin:0 16px;
  padding-top: 40px;
  
}
.search-input::placeholder{
  color: rgba(0,0,0,0.25);

}
.search-icon{
  color:rgba(0,0,0,0.25);

  margin:auto;
}


.dropdown-container {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px; 
  border-radius: 0px;
  height:55px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  
}
label {
  display: block; 
  margin-bottom: 0px; 
  font-size: small;
 
}

select {
  border: none; 
 
}


.results{
  font-size: 22px;
  color: var();
  margin:30px 16px;
  
}




/* General card styling */
.course-card {
  background-color: var(--bg_default);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  
  text-align: center;
  transition: transform 0.2s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

/* Course image styling */
.course-image {
  width: 100%;
  height:150px;
  border-radius: 4px;
  object-fit: cover;
}
.course-content{
  padding:12px;
}

/* Course title styling */
.course-title {
  font-size: 13px;
  color: #333;
  display: flex;
  justify-content: left;
  
}
.language-name{
  font-size: 15px;
  color:var(--body-text);
  
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

/* Author name styling */
.author {
  font-size: 0.9rem;
  color: #666;
  padding-top:15px;
  
}

/* Rating styling */
.rating {
  font-size: 1.9rem;
  fill:#ffb400;
  color: #ffb400; 
  padding-top:35px;
}

/* Layout for multiple cards */
.course-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 
  margin:0 16px;
  gap:20px;
}

.stars{
  font-size: 5px;
}




/*footer style*/
.heart {
  color: red;        
  font-size: 1.2em;  
}
.main-container{
  display:flex;
}





/*utility classes/ the classes that we can use more than one time*/
.flex{
  display: flex;
 
}
.gap-buttons{
  gap:5px;
}
.align-center{
  align-items: center;
}
.justify-between1{
  justify-content: space-between;
 
}
.justify-between2{
  justify-content: center;
}
.background-color{
  background-color: var(--bg_default);
}
.container{
  max-width: 1440px;
  margin:auto;
}

















.press-on-card{
  text-decoration: none;
}
.fav-container{
  height:260px;
  position:fixed;
  bottom:0;
  z-index: 11;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.08);
  background-color: var(--bg_default);
  width:100%;
  padding:1rem;
  overflow: auto;
  display: none;

}
.fav-cards{
  display: flex;
  gap:20px;
  padding-top:1rem;
  padding-bottom: 15px;
  
  
}
.fav-card{
  border:none;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(0,0,0,.16),0 1px 3px rgba(0,0,0,.23);
  width:8.4rem;
}
.fav-card-image{
  height:70px;
  object-fit: cover;
  width:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fav-card-content{
  display: flex;
  flex-direction: column;
  padding:6px 10px;
}
.stars-icons{
  display: flex;
  margin-top: 0.25rem;
}
.fav-container h3{
  font-size: 1.25rem;
  font-weight: bold;
}








/* 4 cards per row */
@media (max-width: 1200px) {
  .course-container {
    grid-template-columns: repeat(4, 1fr); 
  }
  .course-content{
    padding:13px;
  }
}

/* For screens smaller than 992px (3 cards per row) */
@media (max-width: 992px) {
  .course-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  .course-card {
    box-shadow: none;
  }
  
  .course-content{
    padding:13px;
  }
  .dropdown-menues{
    display: flex;
  
  }
}

/* For screens smaller than 768px (2 cards per row) */
@media (max-width: 768px) {
  .course-container {
    grid-template-columns: repeat(2, 1fr); 
  }
  .course-content{
    padding:13px;
  }
  .course-card {
    font-size: 14px;
   
  }
  
  .search{
    display:flex;
    flex-direction: column;
    height:90%;
    padding:0;
  }
  .dropdown-container{
    width: 50%;
    border:none;
    border-top:1px solid var(--lines-color);
    padding-left:16px;
    margin:none;
    
  }
  .filter{
    width:100%;
    
  }
  .sort{
    width:100%;
    
  }
  .welcome-color{
    font-size:25px;
    color:var(--body-text);

  }
  .welcome {
    display: flex;
    flex-direction: column; /* Stacks the elements vertically */
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Aligns the text horizontally to the center */
    padding: 20px; /* Optional, to add space around the text */
  }
  .dropdown-container-border-left{
    border-left:1px solid var(--lines-color);
  }
  
  .container-welcome {
    max-width: 800px; /* Define a max width for the text block */
    text-align: left; /* Ensure that text aligns to the left */
    margin: 0 auto; /* Center the block */
  }
  .searching-icon-text{
    width:100%;
    padding:10px;
  }
  
  .dropdown-menues{
    display: flex;
    width:100% 
  
  }
  .sort{
    padding-left: 0;
  }
  
  .option{
    border: 1px solid #c21111;
  }
}

/* For screens smaller than 576px (1 card per row) */
@media (max-width: 576px) {
  .course-container {
    grid-template-columns: 1fr; 
  }
  .course-card {
   
    font-size: 12px; 
    border-radius: 4px; 
    
  }
  .course-content{
    padding:7px;
  }
  .input{
    width:90%
  }
  
  .dropdown-container{
    width: 50%;
  }
  .dropdown-menues{
    display: flex;
    width:100% 
  
  }
 
}

