*{
  margin:0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;

}
/* Light theme (default) */
:root {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --bg_body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
}

/* Dark theme */
.dark-theme {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #1A1A1A;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #EDEDED;
  --heart-color: #DC143C;
}


@media (prefers-color-scheme: dark) {
  :root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
    --heart-color: #DC143C;
  }
}

/*header styles*/
h1{
  font-size: 12px;
  color:var(--brand-primary);
  
}
.ionicon{
  vertical-align: text-bottom;
}
header{
  padding: 8px 20px;
  border-bottom:1px solid rgb(200, 193, 193);
}
.btn-container{
  font-size: 9px;
}

/*main content*/
.triangles{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 100vw solid var(--brand-secondary);
	border-bottom: 80px solid transparent;
  opacity:0.9;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 100vw solid var(--brand-primary);
	border-bottom: 80px solid transparent;
  opacity:0.9;
}

.intro{
  display: grid;
  text-align: center;
  margin:0;
  
}
h2{
  font-size: 20px;
  color: var(--brand-secondary);
  padding-right:176px;
  font-weight:bold;
}

.main-content{
  
  min-height: calc(100vh - 62px);
}
.main-container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
:root{
  --content-max-width:1900px;
}
.main{
  background-color:var(--bg_body);
  max-width:var(--content-max-width);
  margin:0 auto;
  
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--bg_default);
  border: 1px solid var(--lines-color);
  border-width:thin;
  
  height:60px;
  padding: 10px;
  
}

.search-input{
  
  font-size: 11px;
  color: var(--body-text);
  outline: none;
  border: none;
  background: transparent;
  margin-left: 10px;
  width:100%;
 
  
  
}
.input{
  padding-left: 40px;
  padding-top: 40px;
}
.search-input::placeholder{
  color: rgba(0,0,0,0.25);

}
.search-icon{
  color:rgba(0,0,0,0.25);

  margin:auto;
}


.dropdown-container {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px; 
  border-radius: 0px;
  height:55px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  
}
label {
  display: block; 
  margin-bottom: 0px; 
  font-size: small;
 
}

select {
  width: 200px;
  border: none; 
 
}


.results{
  font-size: 22px;
  color: var();
  margin:30px;
  padding-left: 225px;
}




/* General card styling */
.course-card {
  background-color: var(--bg_default);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

/* Course image styling */
.course-image {
  max-width: 100%;
  height: 150px;
  border-radius: 4px;
}

/* Course title styling */
.course-title {
  font-size: 13px;
  color: #333;
  display: flex;
  justify-content: left;
  
}
.language-name{
  font-size: 15px;
  color:var(--body-text);
  
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

/* Author name styling */
.author {
  font-size: 0.9rem;
  color: #666;
  padding-top:15px;
  
}

/* Rating styling */
.rating {
  font-size: 1.9rem;
  fill:#ffb400;
  color: #ffb400; 
  padding-top:35px;
}

/* Layout for multiple cards */
.course-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1440px;
  margin:0 auto;
  gap:30px;
}

.stars{
  font-size: 5px;
}




/*footer style*/
.heart {
  color: red;        
  font-size: 1.2em;  
}
.main-container{
  display:flex;
}




/*utility classes/ the classes that we can use more than one time*/
.flex{
  display: flex;
 
}
.gap-buttons{
  gap:5px;
}
.align-center{
  align-items: center;
}
.justify-between1{
  justify-content: space-between;
 
}
.justify-between2{
  justify-content: center;
}
.background-color{
  background-color: var(--bg_default);
}
.container{
  max-width: 1440px;
  margin:auto;
}

/*Media Queries*/


/* Mobile screens (320px - 480px) */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 10px;
    
  }
  h2 {
    font-size: 16px;
    
  }
  .search {
    max-width: 300px;
  }
  .course-container {
    grid-template-columns: repeat(1, 1fr); /* One card per row */
    gap:20px;
    
  }
  .results {
    padding-left: 10px;
    
  }

}

/* (481px - 768px) */
@media screen and (max-width: 768px) {
  .dropdown-container {
    height: 45px; 
  }
  h1 {
    font-size: 11px;
  }
  h2 {
    font-size: 18px;
    
  }
  .search {
    max-width: 500px;
  }
  .course-container {
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap:20px;
  }
  .results {
    padding-left: 20px;
  }
}

/*  (769px - 1024px) */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
    
  }
  .search {
    max-width: 800px;
  }
  .course-container {
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    
  }

}

/* (1025px - 1440px) */
@media screen and (max-width: 1440px) {
 
  .search {
    max-width: 800px;
  }
  .course-container {
    grid-template-columns: repeat(4, 1fr); /* Four cards per row */
    
  }
  
  
}

/*  (1441px - 1920px+) */
@media screen and (min-width: 1441px) {

  .search {
    max-width: 1400px;
  }
  .course-container {
    grid-template-columns: repeat(5, 1fr); /* Five cards per row */
    
  }
  
}